parameters:
    bootstrap: %rootDir%/../../../vendor/autoload.php

    ignoreErrors:
        - '#Parameter \#1 \$eventsManager of method Phalcon#'
        - '#setEventsManager\(Phalcon\\Events\\ManagerInterface \$eventsManager\)#'
    reportUnmatchedIgnoredErrors: false
